<script src="https://code.jquery.com/jquery.js"></script>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Add Notes</h1>
    <p class="lead">Utilize this page to add notes related to the selected article!</p>
    {{#each selectedArticle}}
    <h2>{{title}}</h2>
    <h3>{{summary}}</h3>
    {{/each}}
  </div>
</div>


<form>
  <div class="form-group">
    <label for="notesForm">Note Title</label>
    <input type="title" class="form-control" id="noteTitle" placeholder="Insert title of Note here">
  </div>
  <div class="form-group">
    <label for="noteTextArea">Notes TextArea</label>
    <textarea class="form-control" id="notesText" rows="6"></textarea>
  </div>
</form>
{{#with selectedArticle}}
<button type="button" id="save-notes" class="btn btn-dark" data-id="{{_id}}">Submit</button>
<button type="button" id="view-notes" class="btn btn-light view-notes" data-id="{{_id}}">View Notes</button>
<a class="btn btn-primary" href="/" role="button">Home</a>
{{/with}}
<div class="completedNotes">

</div>
<script src="app.js"></script>