<script src="https://code.jquery.com/jquery.js"></script>

<div class="jumbotron">
  <h1 class="display-4">Add Notes to Article</h1>  
  <hr class="my-4">
  {{#with selectedArticle}}
  <p>Selected Article:  {{title}}</p>
  {{/with}}
  
</div>


<form>
  <div class="form-group">
    <label for="notesForm">Title</label>
    <input type="title" class="form-control" id="noteTitle">
  </div>
  <div class="form-group">
    <label for="noteTextArea">Notes</label>
    <textarea class="form-control" id="notesText" rows="6"></textarea>
  </div>
</form>
{{#with selectedArticle}}
<button type="button" id="save-notes" class="btn btn-dark" data-id="{{_id}}">Submit</button>
<button type="button" id="view-notes" class="btn btn-light view-notes" data-id="{{_id}}">View Notes</button>
<a class="btn btn-primary" href="/" role="button">Home</a>
{{/with}}
<div class="completedNotes">

</div>
<script src="app.js"></script>